<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVw2A_wtFEz6NEwIqLpQlgF5jwUS0n3vs</string>
	<key>GCM_SENDER_ID</key>
	<string>773302425196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Taqnyat.Livechat</string>
	<key>PROJECT_ID</key>
	<string>live-chat-cc1c4</string>
	<key>STORAGE_BUCKET</key>
	<string>live-chat-cc1c4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773302425196:ios:1d10401b1712de3cd1aa49</string>
</dict>
</plist>